:root {
	--dark: #313154;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* 	register new fonts here
	new fonts can be downloaded into: /src/fonts */
@font-face {
	font-family: 'Oswald';
	src: url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
	font-weight: normal; font-style: normal;
}

html {
	display: grid
}
html, body, #app, main {
    height: 100%; 
}
body {
	color: var(--dark);
	margin: 0;
}
main {
	position:relative;
}
footer {
	position:absolute;
	bottom:0;
	display: contents;
}
main section {
	padding: 10px 50px;
}

/* custom inline classes (utility-first) */
.flex {display: flex}
.flex11 {flex:1 1 0%}
.flex0 {flex:initial}
.flexmin {flex: min-content}
.p-relative {position:relative}
.center {text-align:center}

h2.title, h3.subtitle {
	margin: 0;
}

/* event list style */
.event-header .title input {
	font-weight: 700;	
	flex: 1 1 0%;
	min-width: 0;
	width: 100%;
}
.event-header .subtitle input {
	font-weight: 600;	
	flex: 1 1 0%;
	min-width: 0;
	width: 100%;
}
.input-trans, .input-trans input{
	appearance: none!important;
	border: none!important;
	outline: none!important;
	background: none!important;
	cursor: initial!important;
	box-shadow: none!important;
}

.icon-edit {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	transition: 0.5s;
	position: absolute;
	left: -30px;
}
.title:hover > .icon-edit,
.subtitle:hover > .icon-edit {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	transition: 0.5s;
}

.create-event input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-event .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.et-row {
	border-radius: 0.5rem;
}


.et-row.timer, .name-wrapper {
	box-shadow: var(--shadow);
}
.et-row.timer {
	flex: 1 1 0%;
	margin-right: 40px;
	padding: 0 20px 0 13px;
}
.et-row.name-wrapper {
	flex: 1 1 85%;
}

.et-row.name {
	flex: 1 1 90%;
	border-radius: 0.5rem 0 0 0.5rem;
	padding: 13px;
}
.et-row.actions {
	flex: 1 1 10%;
	border-radius: 0 0.5rem 0.5rem 0;
}
.et-row .checker {
	height: 100%;
  	padding: 16px 5px 12px 0;
}
.time {
	font-weight: bold;
	margin: 0 auto;
}
.time-set {
	font-size: 2.5em!important;
}
.time-setter {
	background: #404040;
	color: #fff;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 7px;
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	min-width: 62px;
}
.ts-top {
	border-bottom-left-radius: 0;
 	border-bottom-right-radius: 0;
	box-shadow: 0px 3px 5px 0px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
 }
 .ts-bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0px -3px 5px 0px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
} 


.event-list {
	padding-bottom: 96px;
}

.event-list .list {
	margin: 1rem 0;
} 

.event-list .event-item {
	align-items: stretch;
	min-height: 60px;
	margin-bottom: 20px;
	position: relative;
}

.event-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.event-item .event-content {
	flex: 1 1 0%;
}

.event-item .event-content input {
	width: 100%;
	padding-left: 10px;
}

.event-item .actions {
	align-items: center;
}

.event-item.done .event-content input {
	text-decoration: line-through;
}
.event-item.done .time {
	color: #6b7280;
}

.remover, .checker {
	display:none!important;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
}
.event-item:hover > .name-wrapper .actions .remover,
.event-item:hover > .name-wrapper .actions .checker {
	display: flex!important;
  	align-items: center;

}
.event-item:hover > .name-wrapper .actions .remover {
	background-color: var(--red-700);
	border-top-right-radius: 7px;
  	border-bottom-right-radius: 7px;
	cursor: pointer;
}
.controll {
	position: absolute;
	bottom:0;
	text-align: center;
	margin-bottom: 50px;
	width: 100%;
}
.icon-plus {
	width: 90px;
  	height: auto;
  	cursor: pointer;
}
.opacity10 {
  	opacity: .1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	-khtml-opacity: 0.1;
}
.btn-settings-wrap {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.controll:hover .icon-plus, 
.controll.hide:hover .icon-plus,
.btn-settings-wrap:hover .btn-settings {
  	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	transition: 0.8s;
}
.controll.hide .icon-plus {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	transition: 0.5s;
}
.btn-add {
	width: 100%;
	margin-top:20px
}
.btn-remove {
	color: #fff;
	font-size: 1.5em;
	padding: 17px;
}

.btn-settings {
	padding: 30px;
	cursor: pointer;
	font-size: 3em;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=0);
	-moz-opacity: 30;
	-khtml-opacity: 30;
	transition: 0.5s;
}
.btn-settings.hide {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;

}

.h-full {
	height: 100%;
	flex-direction: column;
	display: flex;
}
.overflow-y-auto {
	overflow-y: auto;
}
.mt-auto {
	margin-top: auto;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-5 {
	margin-right: 5px;
}

.create-event .time-settings {
	margin-right:20px;
}
.create-event #name {
	flex:1 1 0%;
	margin: auto;
	min-height: 60px;
	font-size:1.5em;
}
.time-settings button {
    font-size: 0.875rem;
    padding: 0.65625rem 1.09375rem;
}

.setting-labels {
	height: 100%;
	padding-right: 10px;
	font-size: .9em;
}
.setting-labels div {
	margin-bottom: 5px;
}
.setting-labels label {
	padding: 5px;
}
.hr1p {
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #eee;
	width: 100%;
}
.btn-sm {
	font-size: .8rem;
  	padding: 0.4rem .8rem;
}
.btn-sm span {
	font-weight: 500;
}
.mb-0 {
	margin-bottom:0
}
.mb-10 {
	margin-bottom:10px
}
.mr-1 {
	margin-right:1rem
}
.ml-5 {
	margin-left:5px
}
.hidden {
	display: none;
}
.p-message .p-message-wrapper {
    padding: .5rem .5rem;
}
.p-message .p-icon:not(.p-message-close-icon) {
    width: 1rem;
    height: 1rem;
}
.p-message .p-message-text {
    font-size: .7rem;
    font-weight: normal;
}
.ckecker-on {
	background: #d9ad00;
}

.slider-number {
	width: 32px;
	height: 32px;
	font-size: 0.7rem;
	padding: 0.3rem 0.3rem;
	text-align: center;
}
.slider-bar {
	margin: 0 13px 5px 13px;
}
.select-sm span{
	padding: 0.3rem 0.5rem;
	font-size: 0.9rem;
}
.select-sm .p-dropdown-trigger{
	margin-bottom: 0;
}
.p-dropdown-items-wrapper {
	font-size: 0.9rem;
}
.p-dropdown-items-wrapper .p-dropdown-item {
	padding: 0.5rem 0.5rem;
}
#logo {
	margin: 30px 45px 0 0;
}
.logo-settings {
	width: 100%;
}
.active-caret {
	position:absolute;
	left: -5px;
	top: 21px;
	font-size: 28px;
	color: #0006;
}
.export-label {
	padding:3px 0 0 15px;
}
.ta-exportcode {
	width: 100%;
	min-height: 100px;
	font-size:10px;
}
.btn-copyclipboard {
	cursor: pointer;
	color: #c1c1c1;
}
.btn-copyclipboard:hover {
	color: #00ad34;
}
#export-dllink a {
 	text-decoration: none;
	border: 1px solid #c1c1c1;
	border-radius: 0 0 4px 4px;
	padding-top: 2px;
}
#export-dllink a:hover {
	background: #10b981;
	color: #FFF;
}
.info-txt {
	color:red;
	font-size: .7em;
}